h1
{font-size:100px; 
color:rgb(1, 255, 14);
 text-align: center; 
 text-shadow: 10px; 
 background-color:blueviolet; 
 height: 500px; 
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top:0; 
  text-transform: uppercase;
} 

h2 
{font-size:60px; 
color:rgb(76, 11, 255);
 text-align: center; 
 text-shadow: 10px; 
 background-color:rgb(250, 207, 17); 
 height: 100px; 
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top:0; 
  text-transform: uppercase;
} 


h3
{font-size:30px; 
color:rgb(43, 43, 46);
 text-align: center; 
 text-shadow: 10px; 
 background-color:rgb(43, 226, 58); 
 height: 100px; 
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top:0; 
  text-transform: uppercase;
  
} 


h4
{font-size:10px; 
color:rgb(255, 255, 255);
 text-align: center; 
 text-shadow: 10px; 
 background-color:rgb(19, 214, 228); 
 height: 100px; 
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top:0; 
  text-transform: capitalize;
} 

.Grande{
  
    font-size:150px; 
    color:rgb(143, 143, 143);
     text-align: center; 
     text-shadow: 10px; 
     background-color:rgb(0, 0, 0); 
     height: 400px; 
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      margin-top:0; 
      text-transform: uppercase;
}

.letra_grande{
  font-size:50px; 
color:rgb(255, 255, 255);
 text-align: center; 
 text-shadow: 100px; 
 background-color:rgb(255, 42, 5); 
 height: 100px; 
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top:0; 
  
  text-transform: uppercase;
}

.outra-Cor{
  color:lime;
}